// @import '../node_modules/foundation-sites/scss/foundation';

// @include foundation-global-styles;
// @include foundation-grid;

body {
    background-image: url('https://grist.files.wordpress.com/2014/05/coffee-beans.jpg?w=1200&h=675&crop=1');
    background-size: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

// .hidden * {
//     display: none;
// }

header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;

    hr {
        width: 50%;
    }

    h2 {
        display: inline-block;
        margin: 0;
        padding: 2vh 5vw;
    }

    h2:hover {
        cursor: default;
        color: black;
        background-color: white;
        border-radius: 5px;
    }
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
        //border-top: 2px inset white;
        border-bottom: 2px inset white;
        list-style: none;
        padding: 2vh 5vw;

        li {
            padding: .5vh;
        }

        .desc { 
            font-style: italic;
        }

        h2 {
            margin: 0;
            padding: 0;
        }
    }
}

.menu.hidden {
    display: none;
}

.addItem {
    border: 5px solid white;
    text-align: center;
    width: 25%;
    margin: 10vh auto;

    input {
        display: block;
        margin: 1vw;
        width: 80%;
    }
}

.addItem.hidden {
    display: none;
}